@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;400;500;700&display=swap");

* {
	box-sizing: border-box;
	max-width: 100%;
}

html {
	margin: 0;
	height: 100vh;
	width: 100vw;
	text-align: center;
	font-family: var(--body);
	color: var(--black-c-100);
}

:root {
	/* Primary Colors */
	--primary-red: #991a1e;
	--primary-gold: #a79055;
	--primary-metallic: #a79055;
	/* Secondary Colors */
	/* accents, depth */
	--blue: #164c83;
	--cool-gray: #767779;
	/* collateral text color */
	--black-c-100: #231f20;
	--black-c-75: #626366;
	--black-c-25: #c6c8ca;
	--white: #ffffff;

	/* primary font for body copy, on web and print brand materials */
	--body: "Pt Serif", sans-serif;
	/* regular italic bold */

	/* heading and subtitles */
	--message: "Roboto", sans-serif;
	/* light regular medium bold */
}

.vfw-logo {
	width: 20%;
	margin: 1rem auto 0;
}

.commander-list h1 {
	color: var(--primary-metallic);
	font-size: 2.5rem;
	background-color: var(--black-c-25);
	border: 1px solid var(--black-c-75);
	border-radius: 5px;
	padding: 2rem;
	margin: auto;
	width: 60%;
	text-shadow: 0 0 3px var(--white), 0 0 5px var(--white);
}

.charter {
	width: 50%;
	margin: auto;
	border-bottom: 0.25rem dashed var(--blue);
}

img.charter {
	object-fit: cover;
}

h3.charter-year {
	font-family: var(--menssage);
	font-size: 2rem;
	color: var(--primary-gold);
}

.commanders {
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.commander-container {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--black-c-100);
	box-shadow: 1px 1px 0.1px 0.1px var(--black-c-75);
	border-radius: 5px;
}

.commander-img {
	position: relative;
	width: 25rem;
	height: 25rem;
	background-color: var(--primary-red);
}

.star {
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: var(--primary-gold);
}

.commander-info {
	height: 10rem;
}

.signin {
	width: 50%;
	margin: 5rem auto;
	border: 5px solid var(--primary-metallic);
	box-shadow: 0 0 0.5rem 0 var(--black-c-75);
	border-radius: 5px;
	padding: 2rem;
	font-size: 1.2rem;
	text-align: center;
}

.admin {
	width: 100%;
	margin: auto;
	justify-content: center;
	align-content: center;
}

.admin-actions {
	text-align: center;
	display: block;
}

.admin-action-dropdown {
	cursor: pointer;
	margin: 2rem;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: underline;
	color: var(--blue);
}

input,
select {
	width: 40%;
	padding: 0.5rem;
	border-radius: 5px;
	margin: 1rem auto;
	display: block;
	font-size: inherit;
}

input:focus[type="text"],
input:focus[type="date"],
select {
	box-shadow: 0 0 0.5rem 0 var(--black-c-75);
	outline: none;
}

label {
	width: 10rem;
	font-size: 1.1rem;
	font-weight: bold;
}

button {
	width: 10rem;
	padding: 0.5rem;
	border-radius: 5px;
	margin: 1rem;
	font-size: 1rem;
	background-color: var(--blue);
	box-shadow: 0 0 0.5px 0.5px var(--black-c-75);
	color: white;
}

button:hover {
	opacity: 0.9;
	cursor: pointer;
}

button:active {
	width: 10rem;
	padding: 0.5rem;
	border-radius: 5px;
	margin-left: 1rem;
	font-size: 1rem;
	background-color: var(--blue);
	box-shadow: 0 0 0 0 var(--black-c-75);
	color: white;
}

.back-icon {
	margin: 0 0.5rem;
	color: var(--primary-metallic);
}

/* TABLES */

.commanders-admin {
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	margin: auto;
}

.rwd-table {
	font-size: 1.2rem;
	width: 70vw;
	padding: 1rem;
	margin: auto;
	border: 0.2rem solid var(--primary-gold);
	background: var(--blue);
	color: var(--black-c-25);
	border-radius: 5px;
	list-style: none;
	.line {
		width: 100%;
		border-bottom: 1px solid var(--black-c-25);
	}
	tr {
		position: relative;
	}
	th,
	td {
		margin: 1rem;
		padding: 1rem;
	}
	th {
		color: var(--primary-gold);
	}
	.icons {
		font-size: 1.2rem;
		justify-content: center;
		margin: auto;
		span {
			margin: auto 1rem;
		}
	}

	.icons:hover {
		cursor: pointer;
	}

	input,
	select {
		margin: auto;
		width: 100%;
		padding: 0.2rem;
		font-size: 1rem;
	}
	option {
		text-align: center;
	}
}

@media (max-width: 1400px) {
	.vfw-logo {
		width: 50%;
	}
	.signin {
		width: 90%;
		margin: 1rem auto;
	}

	input {
		width: 80%;
		margin: 0.5rem auto;
	}

	button {
		margin: 0.5rem auto;
	}

	.commanders {
		width: 100%;
	}

	.commander-img {
		width: 18rem;
		height: 18rem;
	}

	.charter {
		width: 80%;
	}

	.commander-list h1 {
		width: 100%;
		font-size: 2rem;
	}
	.rwd-table {
		width: 100%;
		overflow-x: hidden;
		text-align: left;
		td {
			width: 50%;
			padding: 2rem 0;
		}

		.faMinus,
		.faPlus {
			margin: auto 0.5rem;
		}
		.charters-edit li,
		div {
			justify-content: center;
			display: flex;
			margin: 0 0.1rem;
		}
	}
}

@media (max-width: 750px) and (orientation: portrait) {
	.rwd-table {
		overflow-x: hidden;
		padding: 2rem;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		th {
			display: none;
		}
		td:before {
			color: var(--primary-gold);
			content: attr(data-th) "";
			margin-right: 0.5rem;
			font-weight: bold;
			display: inline-block;
			align-self: center;
			word-wrap: break-word;

			.rwd-table td:first-child {
				padding-top: 0;
			}
		}
		td {
			justify-content: space-between;
			width: 100%;
			padding: 0;
			display: flex;
			align-items: top;
			align-items: center;
		}
		

		.charters-edit li,
		div {
			display: flex;
			margin: 0 0.1rem;
		}
	}
}

@media (min-height: 1000px) and (orientation: portrait) {
	input {
		width: 50%;
	}
}

@media (max-width: 1400px) and (orientation: landscape) {
	input {
		width: 50%;
	}
}
